#############################################
# JamboApi Headless CMS Configuration
#############################################

# Project ID (unique ID for your Jamboapi project)
JAMBOAPI_PROJECT_ID=

# API key to fetch published content
JAMBOAPI_API_KEY=

# Key with create permissions (optional, used for mutations)
JAMBOAPI_CREATE_KEY=

# API base URL (override only if you self-host JamboApi)
JAMBOAPI_API_URL=https://jambostack.site/api

# For images
JAMBOAPI_IMAGE_HOST=jambostack.test

# Google Analytics fallback if it doesn't return from the API
NEXT_PUBLIC_GA_ID=G-XXXXXXXXXX 

# Site URL for sitemap and robots.txt
NEXT_PUBLIC_SITE_URL=https://your-site-url.com 